{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" description="Sebastian Pertuz">
    <link rel="stylesheet" href="{% static 'territorio/css/estilos.css' %}">
    <title>Index</title>
</head>

<body>
    <h1>Bienvenido a Territorio</h1>
    <a href="{% url 'territorio:aprendices' %}">Aprendiz</a><br/>

    <a href="{% url 'territorio:monitorias' %}">Monitorias</a><br/>

    <a href="{% url 'territorio:actividades' %}">Actividades</a><br/>

    <img src="{% static 'territorio/img/territoriumSena.webp' %}" alt="Territorium" width="50%">

    <script src="{% static 'territorio/js/funciones.js' %}"></script>
</body>
</html>